body {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.containerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}
p {
    margin-top: 1vh;
    font-family: LazenbyCompSmooth;

}
.containerRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 150%;
    margin-left: -7%;
    margin-bottom: 10%;
}
input {
    width: 135%;
    background-color: transparent;
}

#snakeboard {
    border: 1px solid black;
    background: repeating-linear-gradient(
        to right,
        #C5DDD6 0px,
        #C5DDD6 20px,
        #90CAF9 20px,
        #90CAF9 40px,
        to bottom,
        #C5DDD6 0px,
        #C5DDD6 20px,
        #90CAF9 20px,
        #90CAF9 40px 
      );
}

.btn {
    padding: 15px;
    border-radius: 20%;
    background-color: aliceblue;
    color: #000000; 
    margin: 5px;
    font-family: LazenbyCompSmooth;

}

.btn:hover {
    background-color: black;
    color: #f0f8ff; 
}

#score, #points {
    margin: 1%;
}

#highScore {
    margin: 0;
}
@media only screen and (min-width: 900px) {
    input {
        width: 100%;
    }
    .containerRow {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 110%;
        margin-left: -3%;
        margin-bottom: 0;
    }
    body {
        margin: 0;
    }
}

@font-face {
    font-family: LazenbyCompSmooth;
    src: url(font/LazenbyCompSmooth.ttf);
  }

  input[type=range] {
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 21px;
    width: 18px;
    border-radius: 5px;
    background: #F0F0F0;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 21px;
    width: 18px;
    border-radius: 5px;
    background: #F0F0F0;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 21px;
    width: 18px;
    border-radius: 5px;
    background: #F0F0F0;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #000000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #000000;
  }